@model IEnumerable<DHDCShop.Models.Model.Product>

@{
    ViewBag.Title = "Index";
    <link href="~/Areas/Admin/Assets/ListProduct.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/table_libary/paginate.css" rel="stylesheet" />


}
<style>
    @@media only screen (max-width: 756px) {
        td.column-gender-product {
            display: none;
        }
    }
    #buttons {
        margin: 6px;
        text-align: right;
    }

    .paginate.paginate_controls input {
        margin-left: 4px;
        opacity: 0.75;
    }
    div.paginate input[type='button'].active{
        background-color: burlywood;
    }
    div.paginate input[type='button']{
        color: black;
    }

</style>

<div class="d-flex justify-content-between mb-4 ">
    <h2 class="fw-bold">Products</h2>
    <a href="@Url.Action("Create","Product")" class="btn btn-primary p-2 ps-3 pe-3 fw-bolder text-dark bg-warning border-0 rounded-0 text-center h5">Create new</a>
</div>
@*table-striped*@
<input type="search" id="searchBox" placeholder="Filter...">
<div class="card">
    <table id="example" class="table  sortable" style="width:100%">
        <thead>
            <tr>
                <th>
                    Product
                </th>

                <th class="d-md-table-cell d-none">
                    Gender
                </th>

                <th>
                    Stock
                </th>

                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr class="row-table">

                    <td class="column-center">
                        <img src="@Url.Content(item.ImagePath ?? "~/Source/Default/giay_default.png")" alt="hinh-giay" width="60" height="60" class="p-1" />
                        @Html.DisplayFor(modelItem => item.Name)

                    </td>
                    <td class="column-center d-md-table-cell d-none">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>

                    <td class="column-center">
                        @if (item.Quantity == 0)
                        {<div class="bg-danger bg-opacity-25 text-danger fw-bolder p-1 text-center w-75" style="font-size: 0.8em;">Out Of Stock</div> }
                        else if (item.Quantity > 0)
                        {
                            <div class="bg-success bg-opacity-25 text-success fw-bolder p-1 text-center w-75" style="font-size: 0.8em;">@item.Quantity In Stock</div>
                        }
                        else
                        {
                            <div class="bg-dark bg-opacity-25 text-dark fw-bolder p-1 text-center w-75" style="font-size: 0.8em;">Empty</div>
                        }
                    </td>
                    <td class="column-center">
                        @item.Price
                    </td>

                    <td class="option-mobile column-center">
                        <div class="dropdown">
                            <a class="btn bg-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li> <a class="dropdown-item" href="@Url.Action("Edit","Product", new { id = item.ProductId })">Edit</a></li>
                                <li><button class="dropdown-item text-danger" onclick="DelConfirm(`@item.ProductId`)">Delete</button></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            }
        </tbody>

        
    </table>

</div>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="~/Areas/Admin/Assets/table_libary/paginate.js"></script>
<script>
let options = {
        numberPerPage: 8,
        constNumberPerPage: 6,
        numberOfPages: 0,
        goBar: false,
        pageCounter: false,
        hasPagination: true,
    };
    let filterOptions = {
        el: '#searchBox'
    };
    paginate.init('#example', options, filterOptions);

    $(document).ready(function () {
        $('#example').DataTable;
    });
    function DelConfirm(magiay) {

        if (confirm("Are you sure you want to delete this?")) {

            $.post(`/Admin/Product/Delete`, { id: magiay });
            setTimeout(() => {
                location.href = `@Url.Action("Index","Product")`;
            }, 1000);


        } else {

        }

    }</script>

